{% extends 'base.html' %} 
{% block content %}
{% if user.is_authenticated %}
<hr>

    <div class="container ">
        <br><br>
        <h2>Questions</h2>
    
    {% for question in questions  %}
    <div class="card mx-5 my-5 bg-dark text-white rounded-pill">
        
        <div class="card-body">
            
            <h2 class="card-title ms-3"><a class="text-decoration-none text-white"href="{% url 'qs-details' question.id %}">{{question.title}}</a></h2>
            <p class="pb-2 pt-3 ms-3">By {{question.author}} on {{question.date}}</p>
        </div>
        </div>

       
    {% endfor %}
    </div>
    {% else %}
<br><br><br><br><br><br><br><br><br><br><br><br>
<div class="container  text-center rounded-pill bg-dark text-white" style="margin-right: 160px">
    <h3 class="py-3">Welcome to Question And Answer Website</h3>
    <h4 class="py-3">Register or Login to continue</h4>
</div>
{% endif %}
    {% endblock content %}